[user]
  email = hello@marcusandre.de
  name = Marcus André
[core]
  abbrev = 12
  autocrlf = input
  excludesfile = ~/.gitignore_global
[diff]
  algorithm = histogram
  compactionheuristic = true
  mnemonicprefix = true
  renames = copy
  tool = vimdiff
[difftool]
  prompt = false
[push]
  default = current
[pull]
  rebase = true
  default = current
[merge]
  conflictstyle = diff3
  summary = true
[log]
  date = iso
  abbrevCommit = true
[advice]
  statusHints = false
[credential]
  helper = osxkeychain
[github]
  user = marcusandre
[format]
  pretty = "%H %ci %ce %ae %d %s"
  numbered = auto
[color]
  interactive = auto
  ui = auto
[rerere]
  enabled = 1
[alias]
  append = commit -a --amend -C HEAD
  branches = branch -a --color -v
  cached = diff --cached
  df = diff --color
  discard = reset --hard HEAD^
  ds = !git diff | diffstat -C
  edit = config --global -e
  hash = !git rev-parse --short HEAD | cut -c -7
  l = log --pretty=oneline --abbrev-commit --graph --decorate
  ll = log --pretty=format:'%C(yellow)%h%C(cyan)%d%C(reset) %s %C(green)(%ar) %C(blue)<%an>%C(reset)' --graph --decorate
  nevermind = !git reset --hard HEAD && git clean -d -f
  prevent = update-index --assume-unchanged
  root = rev-parse --show-toplevel
  s = status -sb
  today = log --since=midnight --oneline --no-merges
  today-fs = log --since=midnight --no-merges --name-only
  track = checkout -t
  unmerged = ls-files --unmerged
  unpush = push -f origin HEAD^:master
  unstage = reset -q HEAD --
  upgrade = !git fetch origin --prune && git rebase origin/master
  yesterday = diff --name-only --stat @{1.days.ago}
  d = difftool
[gpg]
	program = gpg
