[user]
  email = hello+github@marcusandre.de
  name = Marcus André
[core]
  editor = nvim
  pager = diff-so-fancy | less --tabs=4 -RFX
[apply]
  whitespace = fix
[commit]
  verbose = true
[push]
  default = current
[credential]
  helper = osxkeychain
[alias]
  amend = commit --amend --no-edit
  append = commit -a --amend -C HEAD
  branches = branch -a --color -v
  co = checkout
  fa = fetch --all --prune
  hash = !git rev-parse --short HEAD | cut -c -7 | xargs echo -n
  l = log --pretty=oneline --abbrev-commit --graph --decorate
  ll = log --pretty=format:'%C(yellow)%h%C(cyan)%d%C(reset) %s %C(green)(%ar) %C(blue)<%an>%C(reset)' --graph --decorate
  root = rev-parse --show-toplevel
  s = status -sb
  today = log --since=midnight --oneline --no-merges
  yesterday = diff --name-only --stat @{1.days.ago}
[github]
  user = marcusandre
[init]
  defaultBranch = main
[rerere]
  enabled = true
