
root = true

[*]
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[*.{php,html}]
indent_size = 4

[*.{css,sass,scss,less,styl}]
indent_size = 4

[*.go]
indent_style = tab
indent_size = 4

[*.md]
trim_trailing_whitespace = false

[*.svg]
insert_final_newline = false

[Makefile]
indent_style = tab
indent_size = 4
