[user]
  name = Marcus André
  email = hello@marcusandre.de
[alias]
  l = log --pretty=oneline --abbrev-commit --graph --decorate
  co = checkout
  track = checkout -t
  unstage = checkout -- .
  amend = commit --amend
  today = log --since=midnight --author='Marcus André' --oneline --no-merges
  today-fs = log --since=midnight --no-merges --name-only
[core]
  excludesfile = /Users/marcus/.gitignore_global
[color]
  ui = true
[credential]
  helper = osxkeychain
[github]
  user = marcusandre
[push]
  default = simple
[help]
  autocorrect = 1
