[user]
  name = Marcus André
  email = hello@marcusandre.de
[alias]
  append = commit -a --amend -C HEAD
  amend = commit --amend
  cached = diff --cached
  co = checkout
  join = merge --no-ff
  l = log --pretty=oneline --abbrev-commit --graph --decorate
  today = log --since=midnight --author='Marcus André' --oneline --no-merges
  today-fs = log --since=midnight --no-merges --name-only
  todo = !git ls-files | xargs grep --color=auto -onE '(TODO|FIXME):.*$'
  track = checkout -t
  unstage = checkout -- .
  upgrade = !git fetch origin --prune && git rebase origin/master
  prevent = update-index --assume-unchanged
[merge]
  conflictstyle = diff3
[push]
  default = simple
[core]
  excludesfile = ~/.gitignore_global
  precomposeunicode = false
[color]
  ui = true
[credential]
  helper = osxkeychain
[github]
  user = marcusandre
[help]
  autocorrect = 1
