root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
trim_trailing_whitespace = true

[{justfile,*.fish,*.rs,*.zig}]
indent_size = 4

[{*.go,Makefile}]
indent_size = 4
indent_style = tab

[*.gleam]
max_line_length = 80

[*.md]
trim_trailing_whitespace = false
