root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
trim_trailing_whitespace = true

[*.rs]
indent_size = 4

[*.go]
indent_size = 4
indent_style = tab

[Makefile]
indent_size = 4
indent_style = tab

[*.md]
trim_trailing_whitespace = false

[*.fish]
indent_size = 4
