# Search through history
"\e[A": history-search-backward
"\e[B": history-search-forward

# Tweaks completions
set completion-ignore-case on
set completion-map-case on
set show-all-if-ambiguous on
set mark-symlinked-directories on
set match-hidden-files on
set skip-completed-text on
set colored-stats on

# Activate UTF-8 input and output
set input-meta on
set output-meta on
set convert-meta off

# # Mappings and settings specific to bash
# $if Bash
#   Space: magic-space
#   \C-w: backward-kill-word
# $endif
